.image {
    max-width: 100%;
    height: auto;
}

.title {
    font-size: 20px;
}

.price {
    font-size: 16px;
}

.subPrice {
    font-size: 22px;
}

@media (max-width: 768px) {
    .image {
        max-width: 80px;
    }

    .title {
        font-size: 14px;
    }

    .price {
        font-size: 10px;
    }

    .subPrice {
        font-size: 14px;
    }
}