body {
  font-family: 'Manrope', sans-serif !important;
}

.text-c-blue {
  color: #2C7EF8 !important;
}

.text-c-black {
  color: #000000 !important;
}

.text-c-black-2 {
  color: #4D5254 !important;
}

.text-black-3 {
  color: #37465A !important;
}

.text-c-gray {
  color: #969696 !important;
}

.text-c-green {
  color: #5BB59A !important;
}

.text-c-red {
  color: #F82C2C !important;
}

.fz-10 {
  font-size: 10px !important;
}

.fz-12 {
  font-size: 12px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-22 {
  font-size: 22px !important;
}

.fz-24 {
  font-size: 24px !important;
}

.fz-32 {
  font-size: 32px !important;
}

.fz-48 {
  font-size: 48px !important;
}

.fw-c-bold {
  font-weight: 700 !important;
}

.btn-c-green {
  background-color: #59AE43 !important;
  border-radius: 50px !important;
  padding: 16px 64px 16px 64px !important;
}